[program:flower]
; use docker service discovery (e.g., REDIS_PORT_80_TCP_ADDR)
command={{ miniconda_home }}/bin/celery flower --port={{ flower_port }} --broker=redis://$REDIS_PORT_80_TCP_ADDR:{{ redis_port }}/{{ redis_db }}
directory=/srv
autostart=true
autorestart=true
redirect_stderr=true